.toprated__pageTitle{
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    padding: 4px;
    border-radius: 50px;
    margin: 13px;
    color: white;
}


@media (max-width: 700px) {
    .toprated__pageTitle{
        padding-top: 10px;
        font-size: 5vw;
    }
  }

.toprated__contents{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.carouselItem:hover{
    transition: all .4s ease-in-out; 
    transform: scale(1.3);
    z-index: 990;
}

.carouselItem:hover .carouselItem__img{    
    z-index: 999;
}

.alice-carousel__stage-item{
    margin-right: 20px;
}