.favorite__pageTitle{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    /* font-family: "Montserrat", sans-serif; */
    font-size: 1.6vw;
    padding: 4px;
    border-radius: 50px;
    color: white;
    margin-top: 25px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.favorite__contentsTextPlaceholder{
    font-family: "Montserrat", sans-serif;

}
@media (max-width: 700px) {
    .favorite__pageTitle{
        padding-top: 10px;
        font-size: 5vw;
    }
  }

  .favorite__contents{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    color: white;
}